data_dir    = "/opt/consul"
client_addr = "{{ consul_client_addr }}"
bind_addr   = "{{ consul_bind_addr }}"

node_name  = "{{ consul_node_name }}"
datacenter = "{{ consul_datacenter }}"
retry_join = {{ consul_retry_join | to_json }}

ui_config{
  enabled = true
}

connect {
  enabled = true
}

addresses {
  grpc = "127.0.0.1"
}

ports {
  grpc  = 8502
{% if consul_tls_enabled %}
  https = 8501
{% endif %}
}

{% if consul_server_enabled %}
server           = true
bootstrap_expect = {{ consul_server_bootstrap_expect }}
{% endif %}

{% if consul_encrypt_key | length > 0 %}
encrypt = "{{ consul_encrypt_key }}"
{% endif %}

{% if consul_tls_enabled %}
verify_incoming        = true
verify_outgoing        = true
verify_server_hostname = true

ca_file   = "{{ consul_config_dir }}/tls/consul-agent-ca.pem"
cert_file = "{{ consul_config_dir }}/tls/server-consul.pem"
key_file  = "{{ consul_config_dir }}/tls/server-consul-key.pem"
{% endif %}

{% if consul_acl_enabled %}
acl {
  enabled                  = true
  default_policy           = "deny"
  enable_token_persistence = true

{% if consul_acl_tokens | length > 0 %}
  tokens {
{% for k in consul_acl_tokens %}
    {{ k }} = "{{ consul_acl_tokens[k] }}"
{% endfor %}
  }
{% endif %}
}
{% endif %}
